<!DOCTYPE html>
<html>
	<head>
		<title>Basic Mongoose Show</title>
		<meta charset="utf-8">
	</head>
	<body>
		<div>
			<h1>User:</h1>
			<ul>
				<li>Name: <%= user.name %> | Age:<%= user.age %></li>
			</ul>
		</div>
	</body>
</html>
