<!DOCTYPE html>
<html>
	<head>
		<title>Edit an Owl</title>
		<meta charset="utf-8">
		<style type="text/css">
			#wrapper{
				margin:auto;
				width:800px;
				height:700px;
			}
			#main{
				width:750px;
				height: 400px;
			}
			#main h3{
				display: inline-block;
				width:100px;
				vertical-align: top;
				padding-bottom: 20px;

			}
			textarea{
				width: 500px;
				height: 300px;
				display: inline-block;
				margin-left: 52px;
			}
			#name{
				margin-left: 50px;
			}
			#button{
				border: 1px solid black;
			}
			a{
				text-decoration: none;
				color: black;
				border: 1px solid black;
				margin-left: 50px;
				background-color: lightgray;
			}
		</style>
	</head>
	<body>
		<div id="wrapper">
			<h1>Edit an Owl</h1>
			<br>
			<form action="/owls/<%= owl.id %>" method="POST">
				<h3><label>Owl Name: </label><input id="name" type="text" name="name" value="<%= owl.name %>"></h3>
				<br>
				<div id="main">
					<h3><label>Owl Information: </label></h3>
					<textarea name="information"><%= owl.information %></textarea>
				</div>
				<br>
				<p><input id="button" type="submit" name="button" value="Edit Owl!"><a href="/">Go Back</a></p>
			</form>
		</div>
	</body>
</html>
